body{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    background-color: skyblue;
    
}

.mainContainer{
    border: solid 1px skyblue; 
    border-radius: 10px;  
    background-color: white;
    box-shadow: 2px 0.1 #c3c3c3;
    width: 100vh;
    padding: 30px;
    font-size: 22px;
}

.mainContainer .content-box{
    border:solid 1px skyblue;
    padding: 15px 20px 0;
    border-radius: 10px;
}

.inputTextArea p{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    max-height: 225px;
    overflow-y: auto;
    scrollbar-color: white skyblue;
    margin-bottom: 20px;
}

.correct{
    color: green;
}

.incorrect{
    color: red;
    background: #ffc0cb;
}

hr{
    height: 1px;
    background-color: skyblue;
    border: none;
}

.results{
    display: flex;
    justify-content: space-between;  
}

.results li{
    list-style: none;
    /* display: flex; */
    padding: 10px;

}

.results li span{
    display: block;
    margin-left: 10px;
}

.results li:not(:first-child){
    border-left: solid 1px #ccc;
    /* padding-left: 25px; */
}

.results li p{
    font-size: 20px;
    text-align: center;
}

button{
    border: solid 1px #ccc;
    border-radius: 10px;
}